@import url('https://fonts.googleapis.com/css?family=Signika+Negative');
body{

      background-image: url("images/moo.jpg");
      background-color: #cccccc;
      background-repeat: no-repeat;
      color: #414f57;
      font-family: "Signika Negative", Helvetica, sans-serif;
      height: 100vh;
      width: 100vw;
}

#wrapper {
    z-index: -1;
}


#main {
    margin: 0 auto;
    margin-top: 5%;
    height: 420px;
    max-width: 410px;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    padding: 4.5em 1em 3em 1em;
    background: #ffffff;
    border-radius: 4px;
    cursor: default;
    position: relative;
    text-align: center;
}

#main .pics {
    position: relative;
    display: block;
    margin-bottom: 1.5em;
}

    #main .pics img {
        display: block;
        margin: 0 auto;
        border-radius: 100%;
        box-shadow: 0 0 0 1.5em #ffffff;
        height: 203px;
        padding-bottom: 10px;

}
    
    
#main .pics:before,.pics:after {
    content: "";
    display: block;
    position: absolute;
    top: 29%;
    left: -10px;
    width: calc(100% + 18px);
    height: 1px;
    z-index: -1;
    background: #c8cccf;
}


  

@media screen and (max-width: 320px) {

    #main {
        padding: 4em 2em 2.5em 2em ;
        width: 100%;
    }

        #main .avatar:before {
            left: -12.8px;
            width: calc(100% + 12.9px);
        }

}

    h1 {
        font-size: 1.40em;
        letter-spacing: 0.22em;
        margin: 0 0 0.525em 0;
        line-height: 1.5;
    }
    #footer {
       
       margin: 15px;
    }

     .social {
        display: inline-block;
    }
    .fa  {
        margin-top: 20px;
        padding: 20px;
        font-size: 30px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
        
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
     
      .fa-pinterest {
        background: #cb2027;
        color: white;
      }
      
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      
     .copy{
         margin-top: 40px;
     }
      
     .rotate-scale-up {
      -webkit-animation: rotate-scale-up 0.65s linear both;
              animation: rotate-scale-up 0.65s linear both;
    }

    /* ----------------------------------------------
 * Generated by Animista on 2019-2-6 22:43:41
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
